<div>
    <div class="startPage">
        
        <!-- <div class="container">
            <div class="row justify-content-center align-items-center d-flex vh-100">
                <div class="col-md-4 mx-auto">
                    <div class="py-4">
                        <div class="text-center mb-4">
                            <img src="src/images/OCPLogo.jpg" alt="Ocean Canyon Properties Member Portal" width="300">
                            <h5 class="font-weight-bold mt-3">Ocean Canyon Members</h5>
                            <p class="text-muted">Access your Ocean Canyon account information.</p>
                            <div class="alert alert-sucess" role="alert" style="background:#dc3545; font-weight: bolder; color: white">All members will need to reregister for this new site. To get started, click the "Join now" link below.</div>
                        </div>
                        <form id="joinForm" ng-submit="login()">
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>
                                <div class="alert alert-dark" role="alert" ng-show="dangerAlert">{{dangerAlert}} </div>
                                <label class="mb-1">Email</label>
                                <div class="position-relative icon-form-control">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user position-absolute"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <input type="email" class="form-control" ng-model="UserName__c">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">Password</label>
                                <div class="position-relative icon-form-control">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-unlock position-absolute"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>
                                    <input type="password" class="form-control" ng-model="Password__c">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"> Sign in </button>
                            <div class=" align-item-center formExtra ">
                                <div>New to Ocean Canyon? <a class="font-weight-bold " ui-sref="verifyEmail">Join now</a></div>
                                <a ui-sref="forgotpassword">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>