<div class="bg-white">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-md-4 mx-auto">
                <div class="py-4">
                    <div class="text-center mb-4">
                        <img src="src/images/OCPLogo.jpg" alt="Ocean Canyon Properties Member Portal" width="300">
                        <h5 class="font-weight-bold mt-3">Ocean Canyon Members</h5>
                        <p ng-hide="success" class="text-muted">Enter your email address below and a verfication email will be sent to your inbox if the address is found.</p>
                        <p ng-show="success" class="text-muted">You're almost finished. We've just sent an email to you with a special link. Go click that link to reset password.</p>             
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>
                    <div class="alert alert-dark" role="alert" ng-show="dangerAlert">{{dangerAlert}} </div>
                    <form ng-hide="success" id="joinForm" ng-submit="forgotPassword()">
                        <div class="form-group">
                            <label class="mb-1">Enter your email address.</label>
                            <span class="required-asterisk">*</span>
                            <div class="position-relative icon-form-control">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user position-absolute"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <input type="email" class="form-control" ng-model="PersonEmail">
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block text-uppercase" type="submit"> Submit&nbsp; </button>
                        <div class="align-item-center formExtra">
                            Not sure about your email address? Give us a call at 888-567-5941 to talk with a Member Services Team Member.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>