<div class="container">
    <div class="row">
        <main class="col col-xl-8 order-x1-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">
            <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="mb-0">Welcome to the All New Portal</h6>
                </div>
                <div class="box-body border-bottom p-3">
                    <p>We hope that you find this new update helpful and brings a better online experience with us.</p>
                </div>
            </div>

            <div class="member-handbook">
                <a href="https://content.oceancanyon.com/OCPMemberHandbook.pdf" target="_blank">
                    <button type="button" class="btn btn-success">Download the latest version of the OCP Member Handbook</button>
                </a>
            </div>

            <div class="box shadow-sm border rounded bg-white mb-3 mt-3" style="overflow:hidden">
                <div class="box-title border-bottom p-3">
                    <h6 class="mb-0">Latest Facebook Posts</h6>
                </div>
                <div class="box-body border-bottom p-3">
                    <div id="fb-root">
                         <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="d59uTESR"></script>
                         <div class="fb-page" data-href="https://www.facebook.com/OceanCanyon/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/OceanCanyon/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/OceanCanyon/">Ocean Canyon Properties</a></blockquote></div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="col col-xl-4 order-x1-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
            <right-sidebar></right-sidebar>
        </aside>
    </div>
</div>
