<div class="container">
    <div class="row">
        <main class="col col-xl-12 order-x1-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12" id="isActiveMainDiv">
            <div >
                <h3 ng-show="!showPayment">Book Your Reservation Instantly</h3>
                <div ng-show="!showPayment" ng-if="memberInfo.Advance_up_to__c" class="box shadow-sm border rounded bg-white mb-3 res-extra">
                    <div class="box-body p-3">By making a reservation below, you are booking your reservation instantly without the approval process of our reservations department.<br><br>
                     Your membership allows you to make {{ memberInfo.RV_Site_Days_Advance_Reserve__c }} Day Advanced Reservations. You can make a member-reservation up to {{memberInfo.Advance_up_to__c}}.<br>
                    </div>
                </div>
                <div ng-show="!showPayment" class="box shadow-sm border rounded mb-3" style="background: #dc3545; color: #fff;">
                    <div class="box-body p-3">
                        <p><strong>Reservations for the members only. For all other reservations, you may <a ui-sref="home.requestReservation" class="customLink"><u>request one here</u></a> or contact the reservations team directly at (855) 872-1469.</strong></p>
                    </div>
                </div>
                <form method="POST" ng-show="!showPayment" ng-submit="checkAvailability()">
                    <div class="box shadow-sm border rounded bg-white mb-3 reservation-info">
                        <div class="box-body border-bottom p-3">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="resort"><h6 class="mb-0">Which Resort?</h6></label>
                                    <span class="required-asterisk">*</span>
                                    <select class="form-control" id="resortId" name="resort" ng-model="Reservation_Resort__c" ng-change="resortChanged()" required>
                                        <option value="" disabled selected hidden>--Select--</option>
                                        <option value="{{resort.Id}}" ng-repeat="resort in resorts" data-ng-bind="resort.Name"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6 form-group" ng-show="Reservation_Resort__c&&showunit">
                                    <label for="unitType"><h6 class="mb-0">Unit Type?</h6></label>
                                    <span class="required-asterisk">*</span>
                                    <select class="form-control" id="unitType" ng-change="unitTypeChanged()" name="unitType" ng-model="Accommodation_Type__c">
                                        <option value="" disabled selected hidden>--Select--</option>
                                        <option value="{{unitType.Id}}" ng-repeat="unitType in UnitTypesForSelResort" data-ng-bind="unitType.Name"></option>
                                    </select>
                                </div>
                            </div>
                            <!--RV Dates-->
                            <div class="row" ng-show="showAvailabilitybtn">
                                <div class="col-sm-6 form-group">
                                    <label for="arrival-date"><h6 class="mb-0">Arrival Date</h6></label>
                                    <span class="required-asterisk">*</span>
                                    <span ng-show="rvInfoShow" class="svg-rect">
                                        <svg width="16" height="16">
                                            <circle cx="8" cy="8" r="8" fill="rgba(248, 82, 82, 0.794)"></circle>
                                        </svg> Unavailable Dates
                                    </span>
                                    <span ng-show="rvInfoShow&&blockedDates.length" class="svg-rect">
                                        <svg width="16" height="16">
                                            <circle cx="8" cy="8" r="8" fill="#959292ca"></circle>
                                        </svg> Block Dates
                                    </span>
                                    <input id="rvArivalId" autocomplete="off" placeholder="mm-dd-yyyy" class="form-control" name="arrival-date" >
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="departure-date"><h6 class="mb-0">Departure Date</h6></label>
                                    <span class="required-asterisk">*</span>
                                    <span ng-show="rvInfoShow" class="svg-rect">
                                        <svg width="16" height="16">
                                            <circle cx="8" cy="8" r="8" fill="rgba(248, 82, 82, 0.794)"></circle>
                                        </svg> Unavailable Dates
                                    </span>
                                    <span ng-show="rvInfoShow&&blockedDates.length" class="svg-rect">
                                        <svg width="16" height="16">
                                            <circle cx="8" cy="8" r="8" fill="#959292ca"></circle>
                                        </svg> Block Dates
                                    </span>
                                    <input id="rvDepartureId" autocomplete="off" placeholder="mm-dd-yyyy" class="form-control" name="depature-date">
                                </div>
                            </div>
                            <div class="row" ng-show="blockDateSelected&&blockDateError">
                                <div class="col-sm-12 form-group">
                                    <div id="blockDateId" ng-show="blockDateSelected&&blockDateError" class="alert alert-danger box shadow-sm border rounded mb-3 validationRule" role="alert"> {{blockDateError}} </div>
                                </div>
                            </div>
                            <div class="row" ng-show="!showAvailabilitybtn">
                                <div class="col-sm-6 form-group">
                                    <label for="arrival-date"><h6 class="mb-0">Arrival Date</h6></label>
                                    <span class="required-asterisk">*</span>
                                    <input id="arivalId" autocomplete="off" placeholder="mm-dd-yyyy" class="form-control" name="arrival-date" required>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="departure-date"><h6 class="mb-0">Departure Date</h6></label>
                                    <span class="required-asterisk">*</span>
                                    <input id="departureId" autocomplete="off" placeholder="mm-dd-yyyy" class="form-control" name="depature-date" required>
                                </div>
                            </div>
                            <div  ng-show="Reservation_Resort__c&&showunit" class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="party"><h6 class="mb-0">How many people in party?</h6></label>
                                    <span class="span-space">.</span>
                                    <input type="number" step="1.00" min="0" max="999" autocomplete="off" class="form-control mb-0" id="party" ng-model="How_Many_People__c" name="party">
                                </div>
                            </div>
                            <div class="col-sm-12 mb-0 form-group">
                                <div ng-show="errorAlert" class="alert alert-danger form-group" role="alert"> {{errorAlert}} </div>
                            </div>
                            <div ng-show="errorMessage&&!rvInfoShow" class="alert alert-danger box shadow-sm border rounded mb-3 validationRule" role="alert"> {{errorMessage}} </div>
                            <button ng-show="!showAvailabilitybtn" type="submit" class="btn btn-primary">Search</button>         
                        </div>
                    </div>
                </form> 
                 <!-- RV  Reservation Fields -->  
                <form method="POST" ng-show="rvInfoShow&&!showPayment&&showGrid&&showAvailabilitybtn" ng-submit="createRVActiveReservation()">
                    <div id="rv-reservation-fields">
                        <div class="box shadow-sm border rounded bg-white mb-3">
                            <div class="box-title p-3 border-bottom">
                                <div class="row" style="height:30px">
                                    <h6 class="mb-0 col-sm-8 form-group"><b>RV Information</b></h6>
                                    <div class="col-sm-4 form-group">
                                        <button type="button" class="btn btn-outline-primary" id="rvShowInfoButton" ng-click="updateRvInfo()">Update RV Information</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body p-3 ">

                                <div class="row" data-ng-if="memberInfo.RV_Type__c&&memberInfo.RV_Length__c&&memberInfo.No_of_Slide_Outs__c&&memberInfo.RV_Electrical__c">
                                    <div  class="col-sm-6 form-group profile-info">
                                        <p>
                                            <span>RV Type: </span>{{memberInfo.RV_Type__c}}<br>
                                            <span>RV Length: </span>{{memberInfo.RV_Length__c}}<br>
                                            <span>Number of Slideouts: </span>{{memberInfo.No_of_Slide_Outs__c}}<br>
                                        </p>
                                    </div>
                                    <div class="col-sm-6 form-group profile-info">
                                        <p>
                                            <span>Vehicle Plate: </span>{{memberInfo.Vehicle_Plate__c}}<br>
                                            <span>Your Amperage: </span>{{memberInfo.RV_Electrical__c}}<br>
                                        </p>
                                    </div>
                                </div>
                                <div data-ng-if="!(memberInfo.RV_Type__c&&memberInfo.RV_Length__c&&memberInfo.No_of_Slide_Outs__c&&memberInfo.RV_Electrical__c)" class="row">
                                    <div class="col-sm-12 form-group">
                                        <div class="box-body p-3 background-red">
                                            <p>
                                                <strong>Your RV Information is Incomplete. <a href="" ng-click="updateRvInfo()"><u>Please update it here before proceeding.</u> </a> </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label for="pull-through"><h6 class="mb-0">Request a pull-through site</h6></label>
                                        <span class="span-space">.</span>
                                        <input type="checkbox" class="form-control" id="pull-through" ng-model="Request_Pull_Through__c" name="pull_through">
                                    </div> 
                                    <div class="form-group col-sm-6">
                                        <label for="storage"><h6 class="mb-0">Is your RV in the Resort Storage?</h6></label>
                                        <select class="form-control" id="storageId" ng-change="storageChanged()" ng-model="storage" name="storage">
                                            <option value="no">No</option>
                                            <option value="yes">Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="storageFields" class="row" ng-show="displayStorage">
                                    <div class="form-group col-sm-6">
                                        <label for="pullin"><h6 class="mb-0">Do you need a Pull-In</h6></label>
                                        <input type="checkbox" class="form-control" id="pullin" ng-model="Pull_In" name="pullin">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="pullout"><h6 class="mb-0">Do you need a Pull-Out</h6></label>
                                        <input type="checkbox" class="form-control" id="pullout" ng-model="Pull_Out" name="pullout">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="notes"><h6 class="mb-0">Do you need any special accommodations?</h6></label>
                                        <textarea rows="2" maxlength="100" cols="60" class="form-control" name="reservationNotes" ng-model="reservationNotes" ng-trim="false">
                                        </textarea>
                                        <p>
                                            {{100 - reservationNotes.length}} Remaining
                                        </p>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RV Site WaitList -->  
                    <div ng-show="rvErrorMessage&&showGrid&&showAvailabilitybtn" class="box shadow-sm border rounded mb-3" style="background: #dc3545; color: #fff;">
                        <div class="box-body p-3">
                            <p>There is no availability during this time for the unit type that you have chosen. Please check the box if you would like to be added to the waitlist.</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="rvWaitListRes"  ng-model="isWaitList" id="confirmRVWaitList"/>
                                <div class="form-check">
                                    <label for="confirmRVWaitList">Add me to the waitlist.</label>
                                </div>
                            </div>
                        </div>                    
                    </div>  
                    <div ng-show="errorMessage" class="alert alert-danger validationRule" role="alert"> {{errorMessage}} </div>
                    <button ng-show="rvErrorMessage&&showGrid&&showAvailabilitybtn" type="submit" class="btn btn-primary">Wait List</button>             
                    <button type="submit" ng-hide="rvErrorMessage&&showGrid&&showAvailabilitybtn" class="btn btn-primary">Submit</button>
                    <button type="cancel" ng-click="cancelRVActiveReservation()" class="btn btn-primary">Cancel</button>
                </form>
                 <!-- Cabin Cottage Reservation Fields -->
                <form method="POST" ng-show="UnitTypeshow&&!showPayment" ng-submit="createActiveReservation()">               
                    <div class="box shadow-sm border rounded bg-white mb-3"  id="unit-reservation-fields">
                        <div class="box-title p-3 border-bottom">
                            <h6 class="mb-0"><b>Unit Reservation Information</b></h6>
                        </div>
                        <div class="box-body p-3">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="pet"><h6 class="mb-0">Are you bringing a pet?</h6></label>
                                    <span class="required-asterisk">*</span>
                                    <select class="form-control" id="pets" ng-change="bringingPet()" ng-model="pet" name="pet" required>
                                        <option value="">--Select--</option>
                                        <option value="no">No</option>
                                        <option value="yes">Yes</option>
                                    </select>
                                    <div ng-show="petRequireErrorMessage" class="alert alert-danger mt-2 validationRule" role="alert"> {{petRequireErrorMessage}} </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="disability"><h6 class="mb-0">Do you require a disability unit?</h6></label>
                                    <span class="required-asterisk">*</span>
                                    <select class="form-control" id="disabilityUnits" ng-change="disabilityUnit()" ng-model="disabilityUnits" name="disabilityUnits" required>
                                        <option value="">No</option>
                                        <option value="yes">Yes</option>
                                    </select>
                                </div>
                            </div>    
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="notes"><h6 class="mb-0">Do you need any special accommodations?</h6></label>
                                    <textarea rows="2" maxlength="100" cols="50" class="form-control" name="reservationNotes" ng-model="reservationNotes" ng-trim="false">
                                    </textarea>
                                    <p>
                                        {{100 - reservationNotes.length}} Remaining
                                    </p>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </form>
                <form ng-show="UnitTypeshow&&!showPayment" method="POST">
                    <div ng-show="!petErrorMessage" class="box shadow-sm border rounded bg-white mb-3 unitList" id="cabin-reservation-fields">
                        <div class="box-title p-3 border-bottom">
                            <h6 class="mb-0">Available {{Reservation_Unit_Type__c}}s</h6>
                        </div>
                        <div class="box-body p-3">
                            <div ng-repeat="unit in availabelUnits">
                                <div class="row">
                                    <div class="col-sm-5">
                                            <div ng-if="!unit.PublicLinksForImages||!unit.PublicLinksForImages.length">
                                                <img class="img rounded unit-image" ng-src="src/images/ILoveCamping_315.png" alt="I Love Camping">
                                            </div>
                                            <div ng-if="unit.PublicLinksForImages&&unit.PublicLinksForImages.length">
                                                <button class="prevImage" ng-if="unit.PublicLinksForImages.length>1" ng-click="imageControl(unit.value, unit.PublicLinksForImages, -1)">
                                                    <span class="glyphicon glyphicon-chevron-left text-large" aria-hidden="false"><</span>
                                                </button>
                                                <img id="{{unit.value}}" class="img rounded unit-image" ng-src="{{unit.PublicLinksForImages[0]}}">
                                                <button class="nextImage" ng-if="unit.PublicLinksForImages.length>1" ng-click="imageControl(unit.value, unit.PublicLinksForImages, 1)">
                                                    <span class="glyphicon glyphicon-chevron-right text-large" aria-hidden="false">></span>
                                                </button>
                                            </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="unitName">{{unit.Name}}</div>
                                        <div class="unitDesc">{{unit.specialNotes}}</div>
                                        <div class="unitDeposit">Deposit:${{unit.standardMemberUnitPrice.toFixed(2)}}</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary" ng-click ="selectUnit(unit)">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="petErrorMessage" class="alert alert-danger validationRule" role="alert"> {{petErrorMessage}} </div>
                </form>
            </div>
            
            <div ng-show="showPayment">
                <form method="POST" ng-submit="createReservation()">
                    <div ng-hide="collectDeposit"class="box shadow-sm border rounded bg-white mb-3 profile-info " style="overflow: hidden; ">
                        <div class="box-title border-bottom p-3">
                            <h6 class="mb-0 ">Reservation Details</h6>
                        </div>
                        <div class="box-body p-3 ">
                            <div style="float:left; ">
                                <div class="profile-label ">Reservation Information</div>
                                    <p><span>Resort:</span>{{reservationPaymentDetails.resortName}}<br>
                                    <span>Arrival Date:</span>{{reservationPaymentDetails.reservationArrivalDate}}<br>
                                    <span>Departure Date:</span>{{reservationPaymentDetails.reservationDepartureDate}}<br>
                                    <span>Unit Type:</span>{{reservationPaymentDetails.Reservation_Unit_Type__c}}<br>
                                    <span>Unit:</span>{{reservationPaymentDetails.unitName}}<br></p>
                                <div class="profile-label ">Deposit Information</div>
                                    <p><span ng-show="unitRates">Unit Rate:</span>${{unitRates}}<br>
                                    <span ng-if="invntRates">{{invntRatesName}}</span>{{invntRates}}<br ng-if="invntRates">
                                    <span>Total Deposit To Pay:</span>${{deposit}}
                                    </p>
                            </div>
                        </div>                     
                    </div>
                    <div ng-hide="collectDeposit" class="box shadow-sm border rounded bg-white mb-3 profile-info " style="overflow: hidden; ">
                        <div class="box-title border-bottom p-3 checkboxInactive" Id="confirmCheckbox">
                            <div class="form-check">
                                <input class="form-check-input confirmReservation" type="checkbox" name="confirmation" ng-model="ConfirmReservation" id="confirmReservation" required/>
                                <label class="form-check-label confirmLable" for="confirmReservation" Id="confirmLable">
                                    We will hold this reservation for 5 minutes for you to complete the deposit. If the deposit is not made within 5 minutes, this reservation will be cancelled. 
                                </label>
                            </div>
                        </div>                     
                    </div>
                    
                    <div ng-show="reservationErrorMessage" class="alert alert-danger box shadow-sm border rounded mb-3 validationRule" role="alert"> {{reservationErrorMessage}} </div>
                    <div ng-hide="collectDeposit" class="paymentButtonsRow">	
                        <button type="submit" class="btn btn-primary unit mt-0">Submit</button>
                        <button class="btn unit mt-0" ng-click="cancelReservation()" style="background: #dc3545;color:#fff">Back</button> 
                    </div>
                </form>                
            </div>
        </main>
    </div>
</div>
